.company {
    background-color: white;
    color: black;
    border: 10px solid #8fd3fe;
    margin: 5%;
    
    box-shadow: inset 0 0 0 2px #ffffff;
    box-sizing: border-box;
 
}
.company-details h1 {
    color: white;
    text-align: center;
}
.company-info {
    color: black;
}

.company-info {
   display: flex;
   flex-direction: column;
   font-size: clamp(14px, 1.5vw, 18px);
}
.jobsFromCo {
  
    margin: 2%;
   
    
}


p{
    font-size: clamp(14px, 1.5vw, 18px);
    padding-top: 2px;
    padding-left: 30px;
    padding-right: 10px;
}
